name: PR Checks

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          tags: hello-ip:pr-check
          cache-from: type=gha
          cache-to: type=gha,mode=max
